@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Nunito+Sans:400,700');
body{
    margin: 0;
    padding: 0;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #787878;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}
p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    /*color: #ffffff;*/
}
head{
    background: #ffffff;
}
.head-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.head-container ul{
    display: flex;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.head-container ul li {
    text-transform: uppercase;
    margin-left: 35px;
}
#about-menu{
    color: #10c9c3;
}
.menu a:hover,
.menu a:focus{
    color: #10c9c3;
}
article{
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
}
.article-container{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /*padding-top: 100px;*/
    width: 1349px;
}
.text-top{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #3e3e3e;
    padding-top: 120px;
    padding-bottom: 120px;
}
.text-info{
    font-weight: 500;
    height: 240px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #10c9c3;
}
.text-info__up{
    font-size: 12px;
    text-transform: uppercase;
}
.text-info ul{
    margin-left: 100px;
    display: flex;
}
.text-info li{
    font-size: 18px;
    display: flex;
    padding-right: 90px;
}
.text-info img{
    object-fit: contain;
    padding-right: 30px;
}
.middle-container{
    display: flex;
    height: 570px;
    color: #000;
    background: #f5f5f5;
}
.middle-container__img{
    width: 670px;
    background: #dee8eb;
}
.middle-text{
    margin-top: 100px;
    width: 560px;

    font-size: 16px;
    font-weight: 400;
    color: #787878;
}
.middle-text p,
.middle-text h2,
.signature{
    margin-left: 85px;
    margin-bottom: 35px;
}
h2 {
    font-weight: 600;
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
}

.text-bottom{
    color: #000;
    background: #ffffff;
    height: 398px;
}
.text-bottom__wrapper{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}
button{
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;

    width: 180px;
    height: 54px;
    margin-bottom: 100px;
    border: none;
    color: #ffffff;
    background: #10c9c3;
    text-transform: uppercase;
}
footer{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;

    padding-top: 97px;
    color: #bcbcbc;
    background: #141414;
}
.footer-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 102px;
}
footer .ul{
    font-size: 15px;
    line-height: 22px;
}
.footer-medium-text{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 600;
}
.footer-1{
    margin-right: auto;
}
.footer-2{
    display: flex;
}
.social{
    margin-left: auto;
    margin-right: 34px;
}
.news{
    margin-right: 134px;
}
.project{
    margin-right: 56px;
}
.contact{
    margin-right: 145px;
}