@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Nunito+Sans:400,700');
body{
    margin: 0;
    padding: 0;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #787878;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}
p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #000000;
}
head{
    background: #ffffff;
}
.head-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 38px;
}
.head-container ul{
    display: flex;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.head-container ul li {
    text-transform: uppercase;
    margin-left: 35px;
}
#home-menu{
    color: #10c9c3;
}
.menu a:hover,
.menu a:focus{
    color: #10c9c3;
}
article{
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
}

.article-container{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 100px;
    width: 1349px;
}
.article-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.article-img{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.article-img img{
    min-height: 300px;
    width: auto;
}
.items-row{
    display: flex;
    flex-direction: row;
}
img {
    min-height: inherit;
    min-width: inherit;
}
.items {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(69, 69, 69);

    border: none;
    width: 335px;
    height: 300px;
    flex-grow: 1;
}
.items img:hover {
    background-color: #10c9c3;
    -webkit-filter: opacity(30%);
}
footer{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;

    padding-top: 97px;
    color: #bcbcbc;
    background: #141414;
}
.footer-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 102px;
}
footer .ul{
    font-size: 15px;
    line-height: 22px;
}
.footer-medium-text{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 600;
}
.footer-1{
    margin-right: auto;
}
.footer-2{
    display: flex;
}
.social{
    margin-left: auto;
    margin-right: 34px;
}
.news{
    margin-right: 134px;
}
.project{
    margin-right: 56px;
}
.contact{
    margin-right: 145px;
}